section.main(style=`background-image: url('https://img.freepik.com/free-photo/mountain-landscape-with-car-driving-down-road_1340-26701.jpg?w=1800&t=st=1687203596~exp=1687204196~hmac=809364d73f191a7c714e6bb82451012050a54996878d2cb605314a2b781b0726')`)
  .main__descr 
    .main__title
      h1 Sahen Rahman
    .main__subtitle 
      p Default City
    .main__links
      a.main__link(href="#")
        .main__link-logo 
          include ../../assets/images/twitter.svg
      a.main__link(href="#")
        .main__link-logo 
          include ../../assets/images/linkedin.svg
      a.main__link(href="#")
        .main__link-logo 
          include ../../assets/images/github.svg
      a.main__link(href="#")
        .main__link-logo 
          include ../../assets/images/instagram.svg
      a.main__link(href="#")
        .main__link-logo 
          include ../../assets/images/facebook.svg
      a.main__link(href="#")
        .main__link-logo 
          include ../../assets/images/email.svg
