.social {
  display: flex;
  margin-top: em(50);
  gap: em(30);
  align-items: center;
  justify-content: center;
  @include mobile {
    flex-wrap: wrap;
  }
  &__link {
    opacity: 0;

    border: 1px solid $svgLinksColor;
    border-radius: 50%;
    padding: em(30);
    transition: 0.24s ease-in-out;
    &:hover {
      transform: scale(1.1);
      background: rgba(255, 255, 255, 0.204);
    }
    &:hover svg {
      fill: rebeccapurple;
    }
  }
  &__link-logo svg {
    width: em(40);
    height: em(40);
    fill: $svgLinksColor;
  }
  .show {
    opacity: 1;
    transition: all 0.24s ease-in-out;
  }
}
