$selectionColor: #23a6d5;
$textColor: #ffffff;
$overlayColor: rgba(0, 0, 0, 0.3);
$svgLinksColor: #e2e2e2;


// Core
@import 'core/mixins';
@import 'core/reset';
@import 'core/fonts';
@import 'core/base';

// Parts
@import 'parts/main';
@import 'parts/bg';
@import 'parts/overlay';
@import 'parts/descr';
@import 'parts/social';




